@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Bitter', serif !important;
}
nav{
    background-color: #0f0c0c;
}
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 }

 .navbar .dropdown-menu {
   border:none;
   background-color:#0060c8!important;
 }
 @media screen and (min-width: 992px) {
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
 }
 .navbar .dropdown {position:static;}
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
   top:45px;
   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
   
 }
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;
 }
   
   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
     background-color: #fff;
   }
 
 }
 .navbar-dark .navbar-brand {
    color: rgb(241, 240, 240);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(226, 224, 224, 0.75);
    font-weight: 800;
}
.signButton button{
    color: #222;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 5px 25px;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
.signButton button:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.centerNab{
    margin: 0 auto;
}

/* typing animation */
.headingSection{
    height: 100vh;
}
.typewriter{
    background: transparent;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    width: 661px;
margin: 0 auto;
}
.typewriter h1 {
    color: rgb(209, 206, 208);
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    font-weight: 800;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
      padding-bottom: 40px;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  .headingImg {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
  }
  .headingImg img{
    width: 100%;
    height: calc(100% - 56px);;
  }

  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    -webkit-transform: translate(-50%, -10%);
    -moz-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    -o-transform: translate(-50%, -10%);
}

/* Button */

.btnsec *,
.btnsec *:before,
.btnsec *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.btnsec span {
  transition: none;
}

.btnsec *:before,
.btnsec *:after {
  z-index: -1;
}
.wrap a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 250px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 10px;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: 700;
}


.btn-6 {
  color: #fff;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #ea5157;
}
.btn-6:hover {
  color: #ea5157;
  text-decoration: none;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #fff;
  text-decoration: none;
}


.centerPosition{
  margin-left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
}

.partSection{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #f4f4f4a3;
  padding: 80px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.headingPoint{
  padding-top: 8%;
}
.headingPoint h1{
  color: #ed1b24;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 25px;
}
.headingPoint p{
  font-size: 16px;
  font-weight: 600;
  color: #555;
  letter-spacing: 1px;
}

.contentSide h1{
  font-size: 40px;
  font-weight: 700;
  color: #1b252b;
  padding-bottom: 30px;
  }
  .contentSide p{
  font-size: 17px;
  font-weight: 400;
  color: #141313;
  padding-left: 65px;
  }
  .contentSide p i{
    font-size: 20px;
    color: #eccb0b;
    padding-right: 10px;
  }
/* card */
.cardPad{
  padding: 80px 0px;
}
.shortCard h2{
  text-align: center;
  font-size: 80px;
  padding-bottom: 16px;
}
.shortCard h1{
  color: #1b252b;
font-size: 21px;
font-weight: 700;
padding-bottom: 12px;
text-align: center;
}
.shortCard p{
  text-align: center;
}
.boxSection{
  margin-top: 80px;
}

.wrapper{
    height: 280px;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-bottom: 30px;
  }
  .wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .wrapper:hover > .front-face{
    transform: rotateY(-180deg);
  }
  .wrapper .front-face{
    background-color: #ea5157;
  }
  .wrapper .front-face i{
    color:rgb(177, 162, 162);
  }
  .wrapper .front-face h1{
    color:rgb(255, 255, 255);
  }
  .wrapper .back-face{
    background-color: #ea5157;
  }
  .wrapper .back-face .info{
    color: #fff !important;
  }
  .wrapper .front-face img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
  }
  .wrapper .card i{
    padding-top: 15%;
    font-size: 70px;
    text-align: center;
  }
  .wrapper .card h1{
    padding-top: 15%;
    font-size: 25px;
    text-align: center;
  }
  .wrapper .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
  }
  .wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }
  .wrapper .back-face img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
  }
  .wrapper .back-face .info{
    text-align: center;
  }
  .back-face .info .title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .back-face ul{
    display: flex;
  }
  .back-face ul a{
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
  }
  .back-face ul a:hover{
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
  }
  
.abooutSection{
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 80px 0px;
  background-color: #555;
}

.about a{
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #ea5157;
  color: #fff;
}
.about{
  background-color: #555;
  padding: 20px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.about h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
}
.about p{
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}

/* price table */

.price-table {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.price-card {
  color: #555;
  background-color: #fff;
  /* width: 25%; */
  text-align: center;
  padding: 0.5rem 0 1rem;
}

.price-card__ribbon {
  position: relative;
  padding: 2rem 1rem;
  margin: 0 -0.8rem 2rem;
  background-color: #ea5157;
  transform: skew(0, -10deg);
  border-radius: 3px 0;
  box-shadow: 0 2rem 1.2rem -2rem #ea5157;
}

.price-card__ribbon:before,
.price-card__ribbon:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  position: absolute;
}

.price-card__ribbon:before {
  border-width: 0 0.8rem 0.8rem 0;
  border-color: transparent #ea5157 transparent transparent;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

.price-card__ribbon:after {
  border-width: 0.8rem 0 0 0.8rem;
  border-color: transparent transparent transparent #ea5157;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}

.price-card__ribbon-text {
  color: var(--c-ribbon-text);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
  display: block;
  transform: skew(0, 10deg);
}

.price-card__title {
  color: var(--c-title);
}

.price-card--highlight {
  --c-ribbon: #f94289;
  --c-ribbon-text: #fff;
  --c-ribbon-shadow: #ff619b;
  --c-title: #f94289;

  box-shadow: 0 0 3rem -1.5rem rgba(0, 0, 0, 0.5);
}
.agentSection{
  background-color: #555;
  padding: 80px 0px;
}
.agent a{
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #ea5157;
  color: #fff;
}
.agent{
  background-color: #555;
  padding: 20px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.agent h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
}
.agent p{
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}

/* About page */
.topHeading{
  padding: 100px 0px;
}
.aboutHeading{
  padding-top: 2%;
}
.aboutImg img{
  width: 100%;
  height: 420px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.aboutHeading h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
}
.aboutHeading p{
  font-weight: 500;
  color: rgb(24, 17, 17);
  font-size: 17px;
}
.aboutCardSection{
  padding: 80px 0px;
}

.aboutCardSection .card {
  position: relative;
  background: #ed1b24;
  margin-top: 25px;
  width: 100%;
  height: 600px;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}
.card__line {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}
.card__image {
  opacity: 0;
  animation: ImageFadeIn 0.8s 1.4s forwards;
  width: 100%;
}
.card__title {
  color: #fff;
  margin-top: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.card__content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.card__svg {
  position: absolute;
  left: 0;
  top: 115px;
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
  }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
/* ceo section */
.ceoSection{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f26;
  margin-top: 30px;
}
.ceoSection .ceo{
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}


.left {
  width: 50%;
  height: 600px;
  background: url(https://img.freepik.com/free-photo/close-up-photo-young-successful-business-man-black-suit_171337-9509.jpg?size=626&ext=jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 80%;
  min-height: 400px;
  background-color: #303137;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -50px;
}
.right h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
/* .right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
} */
.ceoSection .btnsec .wrap a{
  background-color: #ed1b24;
}

@media only screen and (max-width: 768px) {
  .typewriter{
    background: transparent;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    width: 300px;
margin: 0 auto;
}
  .typewriter h1 {
    font-size: 16px;
    color: rgb(209, 206, 208);
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-weight: 800;
    animation:       typing 3.5s steps(30, end),      blink-caret .5s step-end infinite;
    -webkit-animation:       typing 3.5s steps(30, end),      blink-caret .5s step-end infinite;
    padding-bottom: 20px;
}

.centered p{
  font-size: 16px;
}
  .ceoSection .ceo {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}

/* ********************* */
/* This Code is for only the floating card in right bottom corner */
/* ********************** */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  color: var(--color-4);
  text-decoration: none;
}
#webCifar-sidebox {
  position: fixed;
  right: 0px;
  bottom: 0px;
  overflow-x: clip;
  width: 300px;
  font-size: 16px;
}
#webCifar-sidebox p {
  padding: 0;
  margin: 0;
}
#webCifar {
  --color-1: #17bcb4;
  --color-2: #24252a;
  --color-3: #244044;
  --color-4: #f3f8f7;
  background: var(--color-2);
  display: inline-block;
  color: var(--color-4);
  padding: 10px 17px;
  border-radius: 6px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  -webkit-transform: translateX(calc(100% + 5px));
  transform: translateX(calc(100% + 5px));
  -webkit-transition: 0.5s ease-out transform;
  transition: 0.5s ease-out transform;
  z-index: 4;
}

#webCifar.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

#webCifar .logo {
  font-size: 25px;
}

#webCifar .author {
  margin-top: 10px;
  margin-bottom: 20px;
}

#webCifar .author span {
  background-color: var(--color-3);
  padding: 3px;
  border-radius: 4px;
}

#webCifar .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#webCifar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border-radius: 4px;
  text-align: left;
}

#webCifar .item:hover {
  background-color: var(--color-3);
}

#webCifar svg {
  max-width: 20px;
}

#webCifar .close {
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 30px;
  right: 5px;
  top: 5px;
  padding: 5px;
  background-color: var(--color-3);
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

#webCifar-icon {
  --color-2: #24252a;
  --color-3: #244044;
  font-family: "Roboto Mono", monospace;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-2);
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  gap: 5px;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  right: -27%;
  border: 1px solid #ffffff7d;
}

#webCifar-icon svg {
  max-width: 20px;
}
/* curve */

/* section.curve {
  position: relative;
  margin: 0;
  padding:0;
  background:#ff319c url(bg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#curve {
position: absolute;
bottom: 0;
width: 100%;
}
#curve path {
fill: #fff; 
}
section.sec2 {
width: 100%;
height: 100vh;
background:#fff;
} */


/* service */
.serviceHead{
  padding: 80px 0px;
}
.serviceSection{
  padding: 80px 0px;
}
.serviceImg img{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.serviceHeading h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
}
.serviceHeading p{
  font-weight: 500;
  color: rgb(24, 17, 17);
  font-size: 20px;
}
.serviceSection .card-wrapper {
  display: inline-block;
  vertical-align: top;
}

.serviceSection .card-wrapper .card {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 60px;
  width: 100%;
  height: 325px;
  color: #666;
  padding: 20px 30px;
  box-sizing: border-box;
  box-shadow: 7px 3px 11px 0px rgb(217, 214, 214);
  transition: all .3s ease-in-out;
}
.serviceSection .card-wrapper .card:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.serviceSection .card-wrapper .card h3 {
  color: #555;
  font-size: 20pt;
  font-weight: 600;
}
.serviceSection .card-wrapper .card p{
  color: #373636;
  font-size: 17px;
  /* font-weight: 300; */
}
.serviceHead h1{
  color: #1b252b;
font-size: 50px;
font-weight: 700;
}
.serH1 h1{
  color: #1b252b;
font-size: 50px;
font-weight: 700;
}

.ribbon-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  right: -4px;
}

.ribbon {
  position: relative;
  color: white;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #fba81a;
  left: 20px;
  top: 13px;
  transform: rotate(40deg);
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
}

.ribbon span:before, .ribbon span:after {
  content: "";
  border-top: 4px solid #f88a31;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 20px;
}

.ribbon span:before {
  left: 0;
}

.ribbon span:after {
  right: 0;
}

.number-label {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  line-height: 25px;
  background-color: #ed1b24;
  color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.number-label span {
  font-size: 8pt;
  vertical-align: super;
}

.number-label:before {
  position: absolute;
  content: "";
  border-top: 10px solid #fba81a;
  border-left: 10px solid transparent;
  left: 0;
  bottom: -10px;
  transform: rotate(0deg);
}

/* service page slider */

.slider {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.25rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.25);
}

.slider .imgContainer {
  min-height: 18.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: linear-gradient(-45deg, #febd3a, #fd3838);
  -webkit-box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.125rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
}

.slider .imgContainer .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .imgContainer .image img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  position: relative;
}

.slider .imgContainer .image.active {
  opacity: 1;
}

.slider .imgContainer .image.active img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

/* slider content*/

.contentHeading h1{
 padding-top: 50%;
 color: #ed1b24;
 font-size: 34px;
 font-weight: 700;
}
.contentService .content {
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.contentService .content .title {
  color: #1b252b;
font-size: 34px;
font-weight: 700;
letter-spacing: 2px;
  margin-bottom: 1rem;
}

.contentService .content .desc p{
  font-size: 16px;
  color: #4a4545;
  font-weight: 500;
  letter-spacing: 1px;
}


.serviceBottomSection{
  padding: 80px 0px;
  background-color: #ed1b24;
}
.serviceBottom{
 
  padding: 25px 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.serviceBottom h1{
  color: #fff;
font-size: 60px;
font-weight: 700;
}
.serviceBottom p{
  font-weight: 600;
color: rgb(192, 189, 189);
font-size: 20px;
}

/* Bella page */
.meetSection{
  padding: 80px 0px;
}
.leftImg img{
  height: 520px;
}
.meetLeft img{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.meetRight h1{
  color: #1b252b;
font-size: 50px;
font-weight: 700;
}
.meetRight p{
  font-weight: 500;
color: rgb(91, 86, 86);
font-size: 20px;
}
.getTouch a{
  background: linear-gradient(to right,
  red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
  padding: 8px 5px;
  text-decoration: none;
  color: #fff;
}
.getTouch a{
  background: linear-gradient(to right,
  red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
  padding: 8px 5px;
  text-decoration: none;
  color: #fff;
}

.askSection{
  padding: 80px 0px;
}
.askHeading h2{
  padding: 40px 0px;
  color: #1b252b;
font-size: 50px;
font-weight: 700;
}
.askBox{
  padding: 20px 0px;
  border-bottom: 1px solid red;
}
.askBox h1{
  color: #ed1b24;
font-size: 23px;
font-weight: 800;
letter-spacing: 1px;
}
.askBox p{
  color: #2e2c2c;
font-size: 16px;
font-weight: 500;
}
/* responsive */
@media screen and (max-width: 576px) {
  .centerPosition{
    margin-left: 0%;
    transform: translate(0%,0);
    -webkit-transform: translate(0%,0);
    -moz-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    -o-transform: translate(0%,0);
}
.contentSide p{
  font-size: 22px;
  font-weight: 400;
  color: #141313;
  padding-left: 1px;
  }
}

/* contact page */
.contactHeading{
  padding: 100px 0px;
}

.delayone {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.delaytwo {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delaythree {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delayfour {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delayfive {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.delaysix {
  -moz-animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

.animated .icon {
  position: absolute;
  width: 100%;
  margin-top: 14%;
  display: block;
  color: #ea5157;
  font-size: 3em;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#circ {
  max-width: 100%;
  min-height: 200px;
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  float: none;
}
#circ ul {
  list-style: none;
  padding: 0;
  margin-top: 80px;
  width: 100%;
}
#circ ul li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 20px 20px 20px;
  text-align: center;
  background: #fff;
  border: solid 8px #ea5157;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
#circ ul li:hover {
  border: solid 8px #ea5157;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

@media only screen and (max-width: 1200px) {
  .icon {
    position: relative;
    margin-top: 30%;
    color: #004d40;
    font-size: 2em;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  #circ ul li {
    width: 80px;
    height: 80px;
    margin: 0 5px 5px 5px;
  }
  #circ ul li:hover .icon {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 690px) {
  #circ ul li {
    border-radius: 0;
    border: none;
    margin: 0;
  }
  #circ ul li:hover {
    border: none;
  }
}
.contactBox{
  width: 100%;
  height: 240px;
  background-color: #fba81a;
  margin-top: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px 5px;
  text-align: center;
  transition: all .3s ease-in-out;
}
.contactBox:hover{
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}
.contactBox h1{
  color: #1b252b;
font-size: 26px;
font-weight: 700;
}
.contactBox p{
  font-weight: 500;
  color: #555;
  font-size: 20px;
}
.mapSection{
  padding: 80px 0px;
}
.mapSection h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
  padding: 50px 0px;
}
.officeSection{
  padding: 80px 0px;
}
.officeSection img{
  text-align: center;
  margin: 10px 0px;
}
.officeSection h6{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
  padding: 30px 0px;
}
.officeSection h1{
  color: #1b252b;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.officeSection h2{
  color: #1b252b;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}
.officeSection p{
  color: #1b252b;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.socialSection h1{
  color: #1b252b;
  font-size: 50px;
  font-weight: 700;
  padding: 30px 0px;
}
.contactBox .btnsec .wrap a{
  background-color: #ea5157;
}